@import url(reset.css);
@import url(fonts.css);

/* ========================== */
/* ===== item styles========= */

body {
    font-family: "Poppins", sans-serif;
}

.products__featured {
    padding-top: 30px;
    display: grid;
    gap: 20px;
    justify-items: center;
}

.products__label {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: #00B207;
}

.produtcs__title {
    font-size: 36px;
    font-weight: 600;
    color: #1A1A1A;
}

.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    max-width: 1320px;
}

.catalog__sale {
    max-width: 248px;
    width: 100%;
    max-height: 339px;
    display: grid;
    justify-items: center;
    align-content: start;
    gap: 20px;
    padding-top: 20px;
    background: url("../img/sale-picture.png") 0 0 no-repeat;
}

.label {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    color: #1A1A1A;
}

.promotion {
    color: #00B207;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.sale__button {
    background-color: #fff;
    border-radius: 43px;
    padding: 13px 30px;
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #00B207;
}

.sale__button:hover {
    border: 1px solid #00B207;
}

.item {
    position: relative;
    max-width: 248px;
    max-height: 339px;
    padding: 5px;
    display: grid;
    grid-template-rows: 3fr 1fr;

    border: 1px solid #E6E6E6;
    align-items: center;
}

.item:hover {
    border: 1px solid #2C742F;
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.item:hover .button__like,
.item:hover .button__eye {
    opacity: 1;
}

.item__description {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
    padding: 0 5px;
}

.item__img {
    overflow: hidden;
}

.item__img>img {
    transition: transform 0.3s;
}

.item__img>img:hover {
    transform: scale(1.05);
}

.item__name {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #4D4D4D;
}

.item__name:hover {
    text-decoration: underline;
}

.item__price {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #1a1a1a;
}

/* ==== buttons like, eye, bag === */


.button>a {
    border: 1px solid #F2F2F2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__like {
    background-color: #fff;
    position: absolute;
    top: 5%;
    right: 10%;
    opacity: 0;
}

.button__eye {
    background-color: #fff;
    position: absolute;
    top: 20%;
    right: 10%;
    opacity: 0;
}

.button__bag {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.button>a:hover {
    background-color: #00B207;
    border-color: #00B207;
}

.button>a:hover svg path {
    stroke: #fff;
}

/* ================================ */

.section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px;
}

.section__promo-banner {
    max-width: 312px;
    width: 100%;
    height: 423px;
    background: url("../img/promo-banner.png") 0 0 no-repeat;
    background-size: cover;

    display: grid;
    justify-items: center;
    align-content: start;
    gap: 20px;
    padding-top: 20px;
}

.section__button {
    background-color: #fff;
    border-radius: 43px;
    padding: 13px 30px;
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #00B207;
}

.section__button:hover {
    border: 1px solid #00B207;
}

.section__promotion {
    color: #1A1A1A;
    max-width: 210px;
}

.section__promotion>span {
    font-weight: 400;
}

.category {
    display: grid;
    gap: 10px;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
}

.category__name {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #1a1a1a;
}

.product {
    position: relative;
    display: grid;
    padding: 5px;
    max-width: 312px;
    border: 1px solid #E6E6E6;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.product:hover {
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    border: 1px solid #2C742F;
}

.product__name:hover {
    text-decoration: underline;
}

.product:hover .product__name {
    color: #2C742F;
}

.product:hover .product__price,
.product:hover .product__rating {
    opacity: 0;
}

.product__img {
    overflow: hidden;
}

.product__img>img {
    transition: transform 0.3s;
}

.product__img>img:hover {
    transform: scale(1.05);
}


.product__description {
    display: grid;
    gap: 5px;
}

.product__name {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #4D4D4D;
}

.product__price {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #1A1A1A;
}

.product__buttons>a {
    position: absolute;
    opacity: 0;
}


.product:hover .product__buttons>a {
    opacity: 1;
}

.product__like-button {
    background-color: #fff;
    position: absolute;
    top: 45%;
    right: 15%;
    opacity: 0;
}

.product__eye-button {
    background-color: #fff;
    position: absolute;
    top: 45%;
    right: 30%;
    opacity: 0;
}

.product__bag-button {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    position: absolute;
    right: 45%;
    top: 45%;
}

.product__buttons>a {
    border: 1px solid #F2F2F2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__buttons>a:hover {
    background-color: #00B207;
    border-color: #00B207;
}

.product__buttons>a:hover svg path {
    stroke: #fff;
}


@media (max-width: 1024px) {
    .section {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 40px;
    }

    .catalog {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .section {
        grid-template-columns: 1fr 1fr;
        padding: 30px;
    }

    .catalog {
        grid-template-columns: 1fr 1fr;
    }

    .section__promo-banner,
    .catalog__sale,
    .item,
    .product {
        max-width: 100%;
        height: auto;
        max-height: none;
    }

    .produtcs__title {
        font-size: 28px;
    }

    .promotion {
        font-size: 26px;
    }
}

@media (max-width: 480px) {
    .section {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .catalog {
        grid-template-columns: 1fr;
    }

    .section__promo-banner,
    .catalog__sale,
    .item,
    .product {
        max-width: 100%;
        height: auto;
        max-height: none;
    }

    .section__promo-banner,
    .catalog__sale {
        padding-bottom: 10px;
    }

    .produtcs__title {
        font-size: 22px;
    }

    .promotion {
        font-size: 20px;
    }

    .category__name {
        font-size: 16px;
    }

    .button {
        padding: 10px 20px;
        font-size: 12px;
    }
}

/* ==== flowers ===== */
/* ================== */

.flowers {
    background: #F8F3EC;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

.flowers__left-page {
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr 0.3fr;
}

.flowers__right-page {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.flowers__item {
    max-width: 370px;
    max-height: 500px;
    display: grid;
    gap: 10px;
    position: relative;
}

.flowers__img {
    overflow: hidden;
    transition: all 0.4s;
}

.flowers__img>img:hover {
    transform: scale(1.05);
}

.flowers__name {
    color: #2C2C2C;
    font-family: "KoPub Batang", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.flowers__name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.flowers__price {
    color: #4E4E4E;
    font-family: "Carme";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.flowers__button {
    position: absolute;
    display: flex;
    gap: 20px;
    bottom: 6%;
    right: 0;
}

.flowers__button>a:hover svg path {
    fill: #f7d4a4;
}

.flowers__button-open {
    border: 1px solid #DBCCBA;
    max-width: 203px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
    transition: all 0.5s;
}

.flowers__button-open>div {
    background: #DBCCBA;
    max-width: 184px;
    width: 100%;
    color: #2C2C2C;
    font-family: "KoPub Batang", serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 137.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flowers__button-open:hover {
    background: #DBCCBA;
}

.flowers__title {
    grid-column: 1 / 3;
    color: #000;
    max-width: 767px;
    font-family: "KoPub Batang", serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media (max-width: 1200px) {
    .flowers {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

    }

    .flowers__left-page {
        order: 2;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        align-self: center;
    }

    .flowers__right-page {
        order: 1;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        align-self: center;
    }
}


@media (max-width: 767px) {
    .flowers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flowers__left-page,
    .flowers__right-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}