@import url("reset.css");
@import url("fonts.css");

.wrapper {}

.header {
    padding: 30px;
    height: 80px;
    text-align: center;
}

.header__title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.main {}

.container {
    padding: 10px;
}

.container__product {
    max-width: 264px;
    margin: 0 auto;
    border: 1px solid #E6E6E6;
}

.product {
    position: relative;
}

.product:hover {
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    border: 1px solid #2C742F;
}

.product:hover .product__name {
    color: #2C742F;
}

.product__cabbage {
    margin: 5px 5px 12px 5px;
}

.product__like {
    position: absolute;
    right: 11px;
    top: 11px;
}

.product__eye {
    position: absolute;
    right: 11px;
    top: 57px;
}

.product__name {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin: 5px 12px;
    color: #4D4D4D;
}

.product__name:hover {
    text-decoration: underline;
}

.product>p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #1A1A1A;
    margin: 5px 12px;
}

.product__basket {
    display: inline-block;
    background-image: url("../img/basket.png");
    position: absolute;
    right: 15px;
    bottom: 25px;
    width: 40px;
    height: 40px;
}

.product__basket:hover {
    background-image: url("../img/basket-active.png");
}

.product__rating {
    margin: 0 12px 12px 12px;
}

.content {
    background-image: url("../img/backgroung.png");
    margin-top: 30px;
    min-height: 1110px;
    max-width: 1620px;
}

.section {
    position: relative;
    height: 500px;
}

.technolody__image {
    position: absolute;
    z-index: 1;
    left: 200px;
    top: -40px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
}


.risk-platform__image {
    position: absolute;
    z-index: 1;
    right: 316px;
    bottom: -100px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.30);
}

.section>h3 {
    font-family: 'Circular Std', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    padding: 5px;
    letter-spacing: 2px;
}

.technolody>h3 {
    position: absolute;
    top: 80px;
    right: 230px;
    width: 650px;
}

.risk-platform>h3 {
    position: absolute;
    bottom: 280px;
    left: 280px;
    width: 500px;
}

.section>p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}

.technolody>p {
    position: absolute;
    top: 180px;
    right: 390px;
    width: 480px;
}

.risk-platform>p {
    position: absolute;
    bottom: 120px;
    left: 285px;
    width: 480px;
}

.section>a {
    border-radius: 60px;
    background: #F35B09;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 200px;
    height: 50px;
    padding-top: 15px;
}

.technolody>a {
    position: absolute;
    top: 360px;
    left: 650px;
}

.risk-platform>a {
    position: absolute;
    top: 430px;
    left: 280px;
}

.technolody__ellipse-big {
    position: absolute;
    z-index: 0;
    left: 100px;
    top: 140px;
}

.technolody__ellipse-small {
    position: absolute;
    z-index: 0;
    left: 90px;
    top: 80px;
}

.risk-platform__ellipse-middle {
    position: absolute;
    z-index: 0;
    right: 160px;
    top: 70px;
}

.risk-platform__ellipse-small {
    position: absolute;
    z-index: 2;
    right: 560px;
    top: 50px;
}

.technolody__ellipse-group {
    position: absolute;
    z-index: 0;
    left: 160px;
    top: 170px;
}

.risk-platform__ellipse-group {
    position: absolute;
    z-index: 0;
    right: 240px;
    top: 170px;
    transform: rotate(-90deg);
}