@import url("fonts.css");
@import url("reset.css");

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1A1A1A;
}

.main {
    flex-grow: 1;
}

.header,
footer {
    margin: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(251, 241, 228);
}

.checkout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.checkout__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__title {
    font-weight: 500;
    font-size: 24px;
    padding: 20px 0;
}

.form__title--top-border {
    width: 100%;
    border-top: 1px solid #E6E6E6;
    padding-top: 20px;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form__group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.form__group>select {
    color: #808080;
}

.form__group>textarea {
    min-height: 80px;
}


.form__label--color-font>span {
    color: #808080;
}

.form__input {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    min-width: 250px;
}


.summary {
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    align-self: flex-start;
    height: auto;
    min-width: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.summary__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}


.summary__name {
    flex-grow: 1;
}

.summary__price {
    font-weight: 500;
    color: #1A1A1A;
}

.summary__line {
    color: #4D4D4D;
    display: flex;
    justify-content: space-between;
}

.summary__line--bottom-border {
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 0;
}


.summary__payment {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
}

.summary__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.summary__radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    position: relative;
    color: #4D4D4D;
}

.summary__radio input[type="radio"] {
    display: none;
}

.summary__radio-indicator {
    width: 15px;
    height: 15px;
    border: 2px solid #4caf50;
    border-radius: 50%;
    position: relative;
}

.summary__radio input[type="radio"]:checked+.summary__radio-indicator::after {
    content: "";
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    width: 9px;
    height: 9px;
    background-color: #4caf50;
    border-radius: 50%;
}

.summary__button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #00B207;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 0 #008f05;
    transition: all 0.1s ease;
}

.summary__button:hover {
    background-color: #02a207;
}

.summary__button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 0 #008f05;
}